* {
	box-sizing: border-box;
	font-family: sans-serif;
	font-size: 15px;
}

h1 {
	font-size: 1.75em;
	margin-bottom: 50px;
	text-align: center;
}

.row {
	width: 100%;
	position:relative;
}

.col-lg-4{
	border: 1px solid;
	background: grey;
}

.title > h2 {
	background-color: blue;
	color: white;
	border: 1px solid #ff0000;
	font-size: 1.25em;
	float: right;
	margin-top: 0;
	padding-top: 10px 10px 10px 10px;
	text-align: center;
	width: 33.33%;
}

p {
	clear: right;
	padding:10px 10px 10px 10px;
}

/* large devices */
@media (min-width: 992px) {
	.col-lg-4 {
		float: left;
		margin: 1.6%;
		width: 30%;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.col-md-6 {
		float: left;
		margin: 0 2.5% 10px 2.5%;
		width: 45%;
	}
	.col-md-12 {
		clear: left;
		margin: 2.5%;
		width: 95%;
	}
}

@media (max-width: 767px) {
	.col-sm-12{
		clear: left;
		margin:2.5%;	
		width: 95%;
	}
}