/* HEADER */
#header-nav {
	background: #fff200;
	margin-bottom: 30px;
}
.navbar-header {
	height: 70px;
}
.navbar-brand h1 {
	color: #0ca94d;
	font-weight: bold;
  	text-shadow: 1px 1px 1px #222;
  	margin-top: 0;
  	margin-bottom: 0;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
#nav-list a:hover {
  background: #E7E7E7;
}
/* HEADER ENDS HERE */

/* MAIN CONTENT */
#main-content {
	height: 1000px;
}

#menu-title {
	margin-top: 0;
}

.jumbotron.menu-option {
	padding: 0 15px 0 15px;
}

/* MAIN CONTENT ENDS HERE */